<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' data:;"> -->
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;
    }

    #map div {
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: ease-out;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <div id="marker1"></div>
  <div id="marker"></div>


  <script language="javascript" type="text/javascript">
    // var wsUri ="ws://echo.websocket.org/"; 
    var data1 = "ws://140.113.217.242:8000";
    //  var data2 = "ws://140.113.217.242:8001";
    // var data1 = "ws://140.113.217.214:9292";
    //var data1 = "ws://140.113.217.214:9292"
    var websocket
    var websocket1
    var next_msg = []
    var current_msg = []
    var trackdots = []
    var marker1
    var map
    var poly
    var drawPolyLine
    var objectPath = []
    // var current_markers = []
    // var next_markers = []
    var contentString
    var lines = []
    var linesCache = []


    var strokeColorSet = {
      car: {
        strokeColor: '#008800'
      },
      people: {
        strokeColor: '#005888'
      },
      bike: {
        strokeColor: '#880000'
      },
    };

    var icons = {
      car: {
        icon: '/static/images/car.png'
      },
      people: {
        icon: '/static/images/ppl.png'
      },
      bike: {
        icon: '/static/images/bike.png'
      },


    };

    var jeter_threshold = 0.0003

    function newMarker(obj) {
      let marker = new google.maps.Marker({
        position: { lat: obj['lat'], lng: obj['long'] },
        map: map,
        icon: icons[obj["object"]]["icon"],
        title: 'object',
        // opacity: 0.5,
        zIndex: obj['number']

      });
      let speed = Number.parseFloat(obj["speed"]).toFixed(2);
      let contentString = `<p>${obj["object"]},${obj["device"]},${obj["number"]},</br>${speed}</p>`
      marker.infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      // Set info windows 
      if (obj["speed"] != 0) {
        marker.infowindow.open(map, marker);
      }
      else {
        marker.infowindow.close();
      }
      obj.marker = marker
      //===== end of new marker & windows
    }
    function testWebSocket() {
      /**
      * 创建一个WebSocket对象
      * url注意事项上面已经说过在此在提醒一下:
      * 参数是需要连接的服务器端的地址，同http协议使用http://开头一样
      * WebSocket协议的URL使用ws://开头
      * 另外安全的WebSocket协议使用wss://开头。
      */
      // var data2 = JSON.parse(data1)

      websocket = new WebSocket(data1);

      websocket.onopen = function (evt) {

        console.log('open sock')
        const sendNowTime = setInterval(() => {
          websocket.send('{"device":"client0"}')
        }, 200)

      };

      websocket.onclose = function (evt) {
        console.log('close socket')

      };

      websocket.onmessage = function (evt) {


        next_msg = JSON.parse(evt.data);


        // console.log(evt.data)
        // remove undefined point
        var filtermsg = next_msg.filter(function (item, index, array) {
          return item["object"] != undefined;

        });


        // next_markers = []
        filtermsg.forEach(obj => {
          // console.log(filtermsg)
          let search_result = current_msg.findIndex((element) => {
            return (obj["device"] == element["device"]) && (obj["number"] == element["number"])
          });

          // console.log(search_result)

          if (search_result == -1) {
            // No the same element in current msg
            // add new google map object into next msg array
            //======   new marker & info windows
            newMarker(obj)
          }
          else {
            // have the same element in current msg
            // pop google map markers from current array
            // Set  location if distance > threshod
            obj.marker = current_msg[search_result].marker
            let search_line_result = lines.findIndex((line) => {
                return ((obj["device"] == line.objectArray[0]["device"]) && (obj["number"] == line.objectArray[0]["number"]))
              });

            if (obj["speed"] != 0) {
              // update marker position
              obj.marker.setPosition({ lat: obj['lat'], lng: obj['long'] })

              let speed = Number.parseFloat(obj["speed"]).toFixed(2);
              let contentString = `<p>${obj["object"]},${obj["device"]},${obj["number"]},</br>${speed}</p>`
              obj.marker.infowindow.open();
              // ====== Add Marker in Line =====
              if (search_line_result != -1) {
                lines[search_line_result].objectArray.push(obj)
                lines[search_line_result].objectPath.push(obj.marker.position)
                if (lines[search_line_result].objectPath.length >= 5) {
                  lines[search_line_result].objectArray.shift()
                  lines[search_line_result].objectPath.shift()

                  lines[search_line_result].getPath().removeAt(1);
                }
                lines[search_line_result].setPath(lines[search_line_result].objectPath)
              } else {
                // points exist , not found in any line
                // new line in lines

                let objectPath = [obj.marker.position]
                let drawPolyLine = new google.maps.Polyline({
                  path: objectPath,
                  geodesic: true,
                  strokeColor: strokeColorSet[obj["object"]]["strokeColor"],
                  strokeOpacity: 0.8,
                  strokeWeight: 6,
                  title: 'object'

                });
                drawPolyLine.objectPath = objectPath
                drawPolyLine.objectArray = [obj]
                drawPolyLine.setMap(map);
                lines.push(drawPolyLine);
              }
              // ===== End of Add marker in Line =====
            }
            else {
              // speed == 0

              let diff_lat = Math.abs(obj["lat"] - current_msg[search_result]["lat"])
              let diff_long = Math.abs(obj["long"] - current_msg[search_result]["long"])
              console.log(diff_lat)
              console.log(diff_long)
              console.log('-----')
              if (diff_lat > jeter_threshold || diff_long > jeter_threshold){
                obj.marker.setPosition({ lat: obj['lat'], lng: obj['long'] })
              }
              obj.marker.infowindow.close();
              

              if (search_line_result != -1) {
                lines[search_line_result].setMap(null)

              }

            }
            // console.log(current_msg)

            current_msg.splice(search_result, 1)
          }


        });
        //remove unused markers
        // console.log(current_msg)


        deleteMarkers(current_msg)
        // console.log(current_msg)


        //update current message array
        current_msg = filtermsg
        //delete volid line
      }
    }









    function initMap() {

      map = new google.maps.Map(document.getElementById('map'), {
        // zoom: 21,
        zoom: 21,
        // zoom: 20,
        
        // center: { lat: 24.7870344, lng: 121.0003 }
        center: { lat: 24.786704, lng: 121.002128 }
      });

      setMarkers(map);

    }


    function deleteMarkers(msg) {
      msg.forEach(function (e) {
        let search_delete_line = lines.findIndex(line => {
          // console.log(e["device"])
          // console.log(line.objectArray[line.objectArray.length-1]["device"])
          return ((e["device"] == line.objectArray[line.objectArray.length - 1]["device"]) && (e["number"] == line.objectArray[line.objectArray.length - 1]["number"]))
        })
        if (search_delete_line != -1) {
          lines[search_delete_line].setMap(null);
        }

        e.marker.setMap(null);
      });

    }

    function setMarkers(map) {

      console.log('test socket')

      testWebSocket()

    }




  </script>




  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHO3eslXasBmWiNw335Al3W50vIGyIClU&callback=initMap"
    async defer></script>
</body>

</html>