<html>
    <body>
            <h1> testing testing</h1>


             <p id="demo"></p> 
            <script type = "text/javascript">
              
              var coords = '[{"object" : "car" , "number" : 1 , "lat" : 12.1 , "long" : 11.1} , {"object" : "people" , "number" : 1 , "lat" : 12.1212 , "long" : 11.131313}]';
              var coordsParse = JSON.parse(coords);
              // let iterable = new Map(coords);
              //   for (let [key, dict] of iterable){
              //     console.log(value);
              // }
            //  var coords = [{'object': 'car', 'number': 1, 'lat': 12.1, 'long': 11.1},
            //               {'object': 'bike', 'number': 1, 'lat': 10.5, 'long': 11.1}]
            //   var parsedcoords = JSON.parse(coords);
            //   document.getElementById('demo').innerHTML = parsedcoords[0].lat;
              coordsParse.forEach(obj => {
                    console.info(obj);
                    console.log(obj['object'] + '=>' + obj['lat'] + '=>' + obj['long']);
                    console.log(obj['lat']);
                      console.warn(obj.object)
                  })
              </script>
                
              

       
        </body>
   
</html>