<!DOCTYPE html>  
<meta charset="utf-8" />  
<title>WebSocket Test</title>  

<!-- <script> 
let socket = new WebSocket("wss://javascript.info/article/websocket/demo/hello");

socket.onopen = function(e) {
  alert("[open] Connection established, send -> server");
  socket.send("My name is John");
};

socket.onmessage = function(event) {
  alert(`[message] Data received: ${event.data} <- server`);
};

socket.onclose = function(event) {
  if (event.wasClean) {
    alert(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
  } else {
    // 例如，服务进程关闭或者网络出现问题
    // 在这种情况下 event.code 通常是 1006
    alert('[close] Connection died');
  }
};

socket.onerror = function(error) {
  alert(`[error] ${error.message}`);
};
</script> -->
<script language="javascript"type="text/javascript">  
     //var wsUri ="ws://echo.websocket.org/"; 
    var data1 = "ws://140.113.217.242:8000";
    // var data2 = "ws://140.113.217.242:8001";
    var output;  

    function init() { 
        output = document.getElementById("output"); 
        testWebSocket(); 
    }  
  
    function testWebSocket() { 
        /**
         * 创建一个WebSocket对象
         * url注意事项上面已经说过在此在提醒一下:
         * 参数是需要连接的服务器端的地址，同http协议使用http://开头一样
         * WebSocket协议的URL使用ws://开头
         * 另外安全的WebSocket协议使用wss://开头。
         */
        websocket = new WebSocket(data1);
        // websocket2 = new WebSocket(data2); 

        /**
         * WebSocket对象一共支持四个消息 onopen, onmessage, onclose和onerror
         * 我们可以看出所有的操作都是采用消息的方式触发的，这样就不会阻塞UI，
         * 使得UI有更快的响应时间，得到更好的用户体验。
         */

        /**
         * 当Browser和WebSocketServer连接成功后，会触发onopen消息;
         */
        websocket.onopen = function(evt) { 
            // onOpen(evt) 
            
            
        }; 

        /**
         * 当Browser接收到WebSocketServer端发送的关闭连接请求时，就会触发onclose消息。
         */
        websocket.onclose = function(evt) { 
            onClose(evt) 
        }; 

        /**
         * 当Browser接收到WebSocketServer发送过来的数据时，就会触发onmessage消息，
         * 参数evt中包含server传输过来的数据;
         */
        websocket.onmessage = function(evt) { 
            onMessage(evt) 
            
        }; 

    //     /**
    //      * 如果连接失败，发送、接收数据失败或者处理数据出现错误，browser会触发onerror消息;
    //      */
    //     websocket.onerror = function(evt) { 
    //         onError(evt) 
    //     }; 
    }  

    function onOpen(evt) { 
        writeToScreen("CONNECTED"); 
        doSend("WebSocket rocks"); 
    }  

    function onClose(evt) { 
        writeToScreen("DISCONNECTED"); 
    }  

    function onMessage(evt) { 
        writeToScreen('<span style="color: blue;">RESPONSE: '+ evt.data+'</span>'); 
        websocket.close(); 
    }  

    function onError(evt) { 
        writeToScreen('<span style="color: red;">ERROR:</span> '+ evt.data); 
    }  

    function doSend(message) { 
        writeToScreen("SENT: " + message);  
        websocket.send(message); 
    }  

    function writeToScreen(message) { 
        var pre = document.createElement("p"); 
        pre.style.wordWrap = "break-word"; 
        pre.innerHTML = message; 
        output.appendChild(pre); 
    }  

    window.addEventListener("load", init, false);  
</script>  
<h2>WebSocket Test</h2>  
<div id="output"></div>  
</html>
